{% extends "trucho_app/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div style="float: right;">
        {% if user.is_authenticated %}
            {% include "carro/witged.html" %}
        {% else %}
        <div class="alert alert-danger text-center">Login para ver el carro</div> 
        {% endif %}         

    </div>    
    <div class="row justify-content-center">
        {% for producto in productos %}
        <div class="col-md-3 mb-3">
            <div class="card h-100 text-center">
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                {% else %}
                    <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="Imagen no disponible">
                {% endif %}
                <div class="card-body">
                    <h6 class="card-title">{{ producto.nombre }}</h6>
                    <p class="card-text">{{ producto.precio }}&nbsp;COP</p>
                </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Comprar</a>    
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}