{% extends "trucho_app/base.html" %}

{% load static %}

{% block content %}
{% for nota in notas %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{nota.imagen.url}}" alt="" style="width: 40%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded" style="width: 40%;">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">{{nota.titulo}}</span>
                    <span class="section-heading-upper">{{nota.contenido}}</span>
                </h2>
                <div style="text-align: left;">
                    Autor: {{nota.autor}}                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}
<section>
    <div style="width: 75%; margin: auto; text-align: center; color: white;">
        Categorias:

        {% for nota in notas %}
        {% for categoria in nota.categorias.all %}
        {{ categoria.nombre }} &numsp; &numsp; &numsp;
        {% endfor %}
        {% endfor %}
    </div>

</section>
{% endblock %}